language: php

php:
  - '5.6'
  - '7.0'
  - '7.1'
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer install --dev --prefer-source

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
