language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly


before_script:
  - composer install --dev --prefer-source

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover


# only send coverage for PHP 5.6
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
